.container {
    width: 59rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}


img {
    width: 21rem;
    height: 21rem;
    
}

.card-container {
    margin: 1rem;
    border: 1px solid black;
    width: 27rem;
    height: 24rem;
}